# Visual Studio & Build Files
.vscode/
.idea/
*.sdf
*.opensdf
*.suo
*.user
*.VC.db
*.VC.opendb

# Linux/Unix executables and build files
SoftwareRasterizer/SoftwareRasterizer
*.o
*.a
*.so
Makefile.bak

# Compiled binaries
Debug/
Release/
*.obj
*.exe
*.dll
*.pdb
*.ilk
*.idb
*.lib
*.exp

# NuGet & Package files
packages/
*.nupkg
project.lock.json

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

CMakeCache.txt
CMakeFiles/
cmake_install.cmake

.vs/

*.tlog
*.ipch
